:root {
  --font-sans: "Arial", sans-serif;
  --bubblegum-pink: #f45b69ff;
  --night-bordeaux: #6c0e23ff;
  --vintage-lavender: #8d6a9fff;
  --silver: #c9c9c9ff;
  --dark-teal: #0b3c49ff;
}
body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  background-color: var(--silver);
  color: var(--dark-teal);
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2 {
  text-align: center;
  color: var(--dark-teal);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}
